@use '../helpers' as *;

.button{
    display: inline-flex;
    justify-content: center;
    padding: rem(18) rem(24);
    font-size: rem(18);
    color: var(--color-grey-60);
    white-space: nowrap;
    border: var(--border);
    border-radius: rem(12);
    background-color: var(--color-dark);

    @include laptop {
        padding: rem(14) rem(20);
        font-size: rem(14);
        border-radius: rem(8);
    }

    @include hover {
        color: var(--color-accent);
        background-color: var(--color-dark-10);
        border-color: var(--color-accent);
    }

    &--accent {
        font-weight: 500;
        color: var(--color-dark);
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        border-radius: rem(8);
    }

    &--dark-gray {
        background-color: var(--color-dark-10);
    }
}