@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/icon';
@use 'blocks/logo';
@use 'blocks/button';
@use 'blocks/burger-button';
@use 'blocks/header';
@use 'blocks/badge';
@use 'blocks/soc1als';
@use 'blocks/footer';
@use 'blocks/advantage-card';
@use 'blocks/hero';
@use 'blocks/metrics';
@use 'blocks/resources-preview';
@use 'blocks/team';

@use 'blocks/card';
@use 'blocks/tile';
@use 'blocks/list';
@use 'blocks/section';
@use 'blocks/tag';

@use 'blocks/tabs';
@use 'blocks/person-card';
@use 'blocks/blog-actions';
@use 'blocks/blog-card';
@use 'blocks/download-info';

@use 'blocks/bordered-grid';
@use 'blocks/rating-view';
@use 'blocks/review-card';

@use 'blocks/about-card';
@use 'blocks/about';
